<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>катеория3</title>
</head>
<body>
    <style>
                         
    </style>
    
        <!--Menu dropdown in small screen with logo and search form-->
    <div class="header" id="header-top">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#in_the_bottom" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">АйТиБорода</a>
            </div>
            <div class="collapse navbar-collapse" id="in_the_bottom">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html">Главная 
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="about.html">О канале</a>
                    </li>
                    <li>
                        <a href="contacts.html">Контакты</a>
                    </li>
                    <li>
                        <a href="comments.html">Отзывы</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Категории 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="category_one.html">категория1</a></li>
                            <li><a href="category_two.html">категория2</a></li>
                            <li><a href="category_three.html">категория3</a></li>


                            <li role="separator" class="divider"></li>
                            <li><a href="#">особая категория</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="search" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="текст для поиска...">
                    </div>
                    <input type="button" value="поиск" class="btn btn-primary">
                </form>

            </div>
        </nav>
    </div>
        <!--end Menu dropdown in small screen with logo and search form-->
    <div class="main_part">
        <!-- main part-->
    <div class="container-fluid">
        <div class="container-fluid" id="category1_text">
            <h4>категория3</h4>
        </div>
        <div class="container-fluid">
            <div class="dummy_1">

            </div>
            <div class="" style="display:block; position:relative; width:100%;">
                <div class="col-lg-2 col-md-3 col-sm-4 col-sx-12">
                    <a href="#">
                        <img  src="images/img6.jpg" style="max-height: 120px;" alt="youtube_video" class="img-responsive img-round">
                    </a>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8 col-sx-12">
                    <p style="text-align: justify;">
                        В этом видео я рассказываю про... <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Perferendis rerum molestias facere corporis fuga deserunt. 
                        Porro ea alias dolore assumenda totam repellat doloremque! 
                        Sint nostrum pariatur, maxime assumenda nesciunt itaque.
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <hr>
                </div>
            </div>
            <div class="" style="display:block; position:relative; width:100%;">
                <div class="col-lg-2 col-md-3 col-sm-4 col-sx-12">
                    <a href="#">
                        <img  src="images/img6.jpg" style="max-height: 120px;" alt="youtube_video" class="img-responsive img-round">
                    </a>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8 col-sx-12">
                    <p style="text-align: justify;">
                        В этом видео я рассказываю про... <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Perferendis rerum molestias facere corporis fuga deserunt. 
                        Porro ea alias dolore assumenda totam repellat doloremque! 
                        Sint nostrum pariatur, maxime assumenda nesciunt itaque.
                        Perferendis rerum molestias facere corporis fuga deserunt. 
                        Porro ea alias dolore assumenda totam repellat doloremque! 
                        Sint nostrum pariatur, maxime assumenda nesciunt itaque.
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <hr>
                </div>
            </div>
            <div class="" style="display:block; position:relative; width:100%;">
                <div class="col-lg-2 col-md-3 col-sm-4 col-sx-12">
                    <a href="#">
                        <img  src="images/img6.jpg" style="max-height: 120px;" alt="youtube_video" class="img-responsive img-round">
                    </a>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8 col-sx-12">
                    <p style="text-align: justify;">
                        В этом видео я рассказываю про... <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Perferendis rerum molestias facere corporis fuga deserunt.
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <hr>
                </div>
            </div>
        </div>

    </div>
    </div>
   
    <!-- Footer-->
    <div class="footer">
        <div class="container" id="footer_container">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>&copy; Все права защищены</h4>
                <p>
                    благодарствую за посещение вебсайта
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p></p>
                <p></p>
                <p>Дизайн вебсайта свёрстан и любезно предоставлен
                    <a href="#" target="_blank"><strong style="color:#cecda2;">Vepa Orazov</strong></a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>