<!-- footer-->
<div class="footer">
    <div class="container" id="footer_container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4>&copy; Все права защищены</h4>
            <p>
                благодарствую за посещение вебсайта
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p></p>
            <p></p>
            <p>Дизайн вебсайта свёрстан и любезно предоставлен
                <a href="http://vepa83.pythonanywhere.com" target="_blank"><strong style="color:#cecda2;">Vepa Orazov</strong></a>
            </p>
        </div>
    </div>
</div>
<!-- end footer-->