{% extends 'index.html' %}        


{% block content %}
<!-- main part-->
<div class="main_part">
    <div class="container-fluid">
        <div class="container-fluid" id="category1_text">
            <h4>Результаты поиска</h4>
        </div>
        
        {% if qtt is 1 %}
        <span class="text-danger">найдено {{qtt}} совпадение</span><br>
        {% else %}
        <span class="text-danger">найдено {{qtt}} совпадений</span><br>
        {% endif %}
            
        <div class="container-fluid">
            <div class="dummy_1">
            </div>
            
            {% for post in posts %}
            <div class="" style="display:block; position:relative; width:100%;">
                <div class="col-lg-2 col-md-3 col-sm-4 col-sx-12">
                    <a href="#">
                        <img src="{{post.thumbnail.url}}" style="max-height: 120px;" alt="{{post.title}}" class="img-responsive img-round">
                    </a>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8 col-sx-12">
                    <p style="text-align: justify;">
                        {{post.text}}
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <hr>
                </div>
            </div>
            {% empty %}
            <span class="text-danger"><h4>{{warning}}</h4></span>
            {% endfor %}
                
            
        </div>

    </div>
</div>
<!-- end main part-->
    
{% endblock content %}
